.works{
    background-color:#111430;
    height:724px;
    object-fit:contain;
    margin-top:40px;
}
.works h2{
    text-align:center;
    color:white;
    padding-top:40px;
    margin-bottom:130px;
}
.works img{
    object-fit: contain;
    width:90%;
    height:445px;
    border:none;
}
.slick-dots li button:before {
    color: orange;
    font-size:16px;
}
.slick-dots li.slick-active button:before {
    color:orange !important;
}