@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
footer{
    margin-top:150px;
    font-family:  'Poppins', sans-serif;
    background-color:#FBD062;
    padding-top:100px;
    height:837px;
}
footer p {
    margin-top:40px;
    font-weight:300;
}
.footer-btn{
    width:170px;
    height:45px;
    color:white;
    background-color:#111430;
    border:none;
    border-radius:5px;
}